body {
    font-family: sans-serif;
    background-color: #c0c0c0;
}

.minesize{
    font-weight: 700;
    margin-bottom: 10px;
    padding-left: 5px;
}

img{
    width: 40px;
    height: 40px;
    vertical-align: text-bottom;
}

#game {
    display: none;
    width: 550px;
    height: auto;
    padding: 8px;
    grid-gap: 1px;
    border: 2px outset white;
    justify-content: center;
    margin-left: 5px;
}

#game.small {
    grid-template-columns: repeat(8, 30px); /* 小地圖大小為 8x8 */
}

#game.medium {
    grid-template-columns: repeat(10, 30px); /* 中地圖大小為 10x10 */
}

#game.large {
    grid-template-columns: repeat(12, 30px); /* 大地圖大小為 12x12 */
}

.calTime{
    margin-bottom: 10px;
    padding-left: 5px;
}

.cell {
    width: 30px;
    height: 30px;
    border: 3px inset white;
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
    cursor: pointer;
}

.cell.revealed {
    background-color: #eee;
}

.cell.revealed.mine {
    background-color: red;
}

.cell.flagged {
    background-color: yellow;
}

.number-1 { color: blue; }
.number-2 { color: green; }
.number-3 { color: red; }
.number-4 { color: purple; }
.number-5 { color: maroon; }
.number-6 { color: turquoise; }
.number-7 { color: black; }
.number-8 { color: gray; }

#size-buttons {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-top: 10px;
}

.size-button {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #808080;
    background-color: #d0d0d0;
    cursor: pointer;
}

.size-button.active {
    background-color: #a0a0a0;
}

#start {
    display: none; /* 預設隱藏開始按鈕 */
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}